<nav class="nav" (mouseover)="mouseIn(hanbeop, hanbeopKr, copyrights)" (mouseout)="mouseLeave(hanbeop, hanbeopKr, copyrights)">
    <div class="nav-empty">
        
    </div>
    <div class="nav-home">
        <a><span class="hiddenHanbeop" id="hanbeop" #hanbeop>Hanbeop</span><span class="hanbeop" id="hanbeop-kr kr" #hanbeopKr>한<sub class="tiny">국</sub>&nbsp;<sup class="tiny">문</sup>법</span></a>
    </div>
    <div class="nav-bonus">
        <span class="hiddenCopyrights" #copyrights>&copy;&nbsp;<a href="https://www.github.com/Maengdok">Maengdok</a></span>
    </div>
</nav>